*{
    margin: 0;
    padding: 0;
    box-sizing: border-box}

header{
    border: 1px solid black;
    padding: 10px;}
    
h1{
    display: inline;
    line-height: 50px;
    font-size: 40px;}

#logo{
    vertical-align: middle;}

main{
    background-color: red;
    padding: 5% 20% 10%;}

.add{
    padding: 20px 0px;
    margin-bottom: 5px;
    border: 1px solid black;}

button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border-color: white;}

.bg_blue{
    background-color: aqua;
    color:white;}

.circle{
    border: 1px solid green;
    border-radius: 50%;
}



