*{
    margin: 0;
    padding: 0;
    box-sizing: border-box}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 80px;
    padding: 10px;}
    
h1{
    display: inline;
    vertical-align: middle;
    font-size: 35px;}

#logo{
    vertical-align: middle;
    height: 100%;}

main{
    background-color:lightgray;
    padding: 5% 20% 2%;}

.add{
    padding: 20px 20px;
    margin-bottom: 5px;
    background-color: white;}

button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border-color: white;}

.lists{
    background-color: white;
    padding: 20px 20px;}

ul{
    list-style-type: none;
    margin-bottom: 10px;}

li{
    padding: 10px;}

.title{
    font-size: 25px;}

.check{
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    padding: 2px 4px;}

.cross{
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    padding: 2px 4px;}

.forma{
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    color: white;}

.bg_blue{
    background-color: aqua;
    color: white;}

.bg_purple{
    background-color: purple;}

.bg_green{
    background-color: green;}

.bg_gold{
    background-color:gold;}

.bg_magenta{
    background-color:magenta;}

.bg_yellow{
    background-color:yellow;}

h2{
    padding:10px;}
    